.admin-panel {
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.user-list {
    margin-bottom: 30px;
}

.user-list h2 {
    margin-bottom: 10px;
}

.user-list ul {
    list-style: none;
    padding: 0;
}

.user-list li {
    margin-bottom: 5px;
}

.add-user h2 {
    margin-bottom: 10px;
}

.add-user input,
.add-user button {
    margin-bottom: 10px;
}

.add-user input,
.add-user button {
    display: block;
    width: 100%;
    padding: 10px;
}

.add-user button {
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
}