.news-item {
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}

.news-item__title {
    margin: 0;
    padding: 10px;
    background-color: #f5f5f5;
}

.news-item__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.news-item__image {
    flex-basis: 40%;
}

.news-item__image img {
    width: 40%;
    margin: 10px;
    height: auto;
    border-radius: 5px;
    display: block;
}

.news-item__text {
    flex-basis: 60%;
}

.news-item__text p {
    margin: 40px 0px 20px 10px;
    font-size: 14px;
    line-height: 1.4;
}

.news-item__video {
    position: relative;
    width: 100%;

    height: 0;
    padding-bottom: 56.25%;
}

.news-item__video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}