.game-list {
    margin-bottom: 20px;
}

.game {
    margin-bottom: 20px;
}

.game-title {
    font-size: 20px;
    font-weight: bold;
}

.game-description {
    margin-bottom: 10px;
}

.game-category {
    font-style: italic;
    margin-bottom: 10px;
}

.game-images {
    margin-bottom: 10px;
}

.game-images img {
    width: 100px;
    height: 100px;
    margin-right: 5px;
}

.game-tags {
    margin-bottom: 10px;
}

.game-tags .tag {
    display: inline-block;
    background-color: #f2f2f2;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 5px;
}

.divider {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
}