.container-login {
    max-width: 500px;
    margin: 0 auto;
    padding: 50px 20px;
    text-align: center;
    border-radius: 5px;
}

form {
    display: inline-block;
    text-align: left;
    margin-top: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

label {
    display: inline-block;
    width: 100px;
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    display: inline-block;
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

button[type="submit"]:hover {
    background-color: #1e7621;
}

.register-link {
    margin-top: 30px;
    font-size: 16px;
}

button[type="submit"]:active {
    background-color: #4CAF50;
    transform: scale(0.93);
}

.error {
    color: red;
    font-size: 12px;
    margin-top: 5px;
}

.register-link a {
    text-decoration: none;
}