body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

.container {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

h1,
h2,
h3 {
    color: #333;
}

p {
    color: #666;
}

header {
    background-color: #333;
    padding: 20px;
    color: #fff;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category {
    display: flex;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
}

.content {
    margin-bottom: 40px;
}

.content h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.item {
    cursor: pointer;
    margin-bottom: 20px;
}

.item h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.item p {
    color: #666;
}

.item .video-preview {
    width: 20%;
    height: 200px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.separator {
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc;
}

.item h3 {
    font-size: 16px;
}

.item a {
    text-decoration: none;
    color: inherit;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    flex-grow: 1;
}

footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    flex-shrink: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

footer ul li {
    margin-right: 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

#main-name {
    margin-right: 20px;
    color: rgb(186, 60, 161);
}

.search-box {
    display: flex;
    align-items: center;
    width: 300px;
    margin-left: 10px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

#header-left {
    align-items: center;
    display: flex;
}

#loginout-bullet {
    margin-left: 60px;
}

#loginout-bullet a {
    color: #f00;
}

.search-input {
    flex: 1;
    height: 40px;
    padding: 8px;
    border: none;
    outline: none;
}

.country-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #ffffff;
    border: 1px solid #cccccc;
    padding: 6px;
    font-size: 14px;
    width: 150px;
    margin-left: 20px;
    border-radius: 4px;
}

.country-select select:focus {
    outline: none;
    border-color: #6e95d3;
}

.country-select select option {
    padding: 10px;
}

.country-select select option:first-child {
    color: #999999;
}

#right-footer {
    display: flex;
    align-items: center;
}

ul li.active a {
    color: rgb(51, 161, 103);
}