.pagination {
    display: flex;
    flex-direction: row;
}

.pagination ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.pagination li {
    margin: 0 5px;
}

.pagination a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #333;
}

.paging-nav {
    font-weight: 300;
    padding: 4px;
    margin: 0px 5px;
    cursor: pointer;
    text-decoration: none;
    color: #333;
}

.pagination a:hover {
    background-color: #ddd;
}